
.my-dropdown {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;

	margin: 30px 0px;
}

.menu {
	width: 1023px;
	background-color: #ff6060;
	border: 1px solid #ff6060;
	border-radius: 5px;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500; 
}

.arrow-container {
	margin: 0px 20px 0px 15px;
}

.title-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sous-menu {
	width: 1023px;
	background-color: #F6F6F6;

	list-style-type: none;
	padding: 0;
	margin: 0px 0px 30px 0px;
	border: 1px solid #F6F6F6;
	border-radius: 5px;
}
  
.sous-menu > li {
	margin: 0;
}
  
.sous-menu > li:hover {
	margin: 0;
}
  
.sous-menu p {
	width: auto;
	text-align: left;
	color: #ff6060;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	padding: 0px 20px 0px 15px;
}