.conteneur {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 15%;
}

.tag {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tag_name {
    border-radius: 10px;
    background: #FF6060; 
    padding: 5px;
}

.tag p{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500; 
    margin: 5px;
}

.etoile {
    align-items: center;
    margin: 0;
    display: flex;
    gap: 10px;
}

.etoile_plein {
    display: flex;
    gap: 10px;
    color: #FF6060;
    height: 25px;
}

.etoile_vide {
    display: flex;
    gap: 10px;
    color: #F6F6F6; 
    height: 25px;
}

/* Responsive */

@media (max-width: 1480px) {
    .tag p{
        font-size: 14px;
    }
    .etoile_plein,
    .etoile_vide {
        gap: 10px;
        height: 25px;
    }
}

@media (max-width: 1080px) {
    .tag p{
        font-size: 14px;
    }
    .etoile_plein,
    .etoile_vide {
        gap: 10px;
        height: 25px;
    }
}

@media (max-width: 780px) {
    .tag p{
        font-size: 12px;
    }
    .etoile_plein,
    .etoile_vide {
        gap: 5px;
        height: 15px;
    }
}

@media (max-width: 480px) {
    .tag p{
        font-size: 10px;
    }
    .etoile_plein,
    .etoile_vide {
        gap: 5px;
        height: 15px;
    }
}