.info{
    display: flex;
    justify-content: space-between;
    margin: 10px 15%;
    padding: 0px;
    width: 70%;
    height: 75px;
}

.tilte{
    display: block;
}

.tilte p{
    float: left;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500; 
    margin: 10px 0 0 0;
}

.tilte h1{
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500; 
    margin: 0;
}

.host{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.host p{
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500; 
    margin: 0;
}

.host img{
    width: 35%;
    height: 100%; 
    border-radius: 50%;
}

/* Responsive */

@media (max-width: 1480px) {
    .info p {
        font-size: 16px;
    }
    .tilte h1{
        font-size: 32px;
    }
}

@media (max-width: 1080px) {
    .info p {
        font-size: 14px;
    }
    .tilte h1{
        font-size: 24px;
    }
}

@media (max-width: 780px) {
    .info p {
        font-size: 14px;
    }
    .tilte h1{
        font-size: 22px;
    }
    .host img{
        width: 35%;
        height: 90%; 
    }
}

@media (max-width: 480px) {
    .info p {
        font-size: 12px;
    }
    .tilte h1{
        font-size: 20px;
    }
    .host img{
        width: 35%;
        height: 80%; 
    }
}