
.my-ImageTitle {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	justify-content: center;

	margin: 15px 0px;
}

.my-Img_Accueil {
	width: 70%;
	border-radius: 25px;
}

.my-ImageTitle p {
	width: 70%;
	color: #000;

	font-size: 48px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
}