
.my-ImageBanner {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	justify-content: center;

	margin: 15px 0px;
}

.my-Img_Accueil {
	width: 70%;
	border-radius: 25px;
}

.my-ImageText {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.my-ImageBanner p {
	color: #FFF;
	font-size: 48px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500; 
}

/* Responsive */

@media (max-width: 1480px) {
	.my-ImageBanner p {
		font-size: 40px;
		font-weight: 500; 
	}
}

@media (max-width: 1080px) {
	.my-ImageBanner p {
		font-size: 30px;
		font-weight: 500; 
	}
}

@media (max-width: 780px) {
	.my-ImageBanner p {
		font-size: 20px;
		font-weight: 300; 
	}
}

@media (max-width: 480px) {
	.my-ImageBanner p {
		font-size: 12px;
		font-weight: 300; 
	}
}