
.carrousel {
    margin: 0;
    position: relative;
}

.numerisation {
    position: absolute;
    top: 80%;
    left: 50%;
}
  
.numerisation p {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500; 
}

.Image_fleche_Gauche,
.Image_fleche_Droite {
    width: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
  
.Image_fleche_Gauche {
    left: 18%;
    transform: rotate(-90deg);
}
  
.Image_fleche_Droite {
    right: 18%;
    transform: rotate(90deg);
}

.image-fond {
    margin: 0 15%;
    width: 70%;
    height: 415px; 
    border-radius: 25px;
    object-fit: cover;
}

.drop {
    margin: 0 15%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

/* Responsive */

@media (max-width: 1480px) {
    .image-fond {
        height: 415px; 
    }
}

@media (max-width: 1080px) {
    .image-fond {
        height: 375px; 
    }
}

@media (max-width: 780px) {
    .image-fond {
        height: 315px; 
    }
}

@media (max-width: 480px) {
    .image-fond {
        height: 215px; 
    }
}